html {
   font-family: 'Kohinoor Bangla';
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   header button {
      font-size: 16px;
   }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
   
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
   
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
   
}

/* Idk */
@media (max-width: 1399.98px) {
   
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0em 1em;
   background: #fff;
   z-index: 9001;
   border-bottom: solid #22567b;
}

.three-btn-header {
   gap: 2em;
   margin-right: 2%;
}

.three-btn-header a {
   padding: 1.6rem 1.8rem;
   font-size: 1.5em;
   border-radius: 0.5rem;
   border: 1px solid;
   background-color: #22567b;
   color: #ffffff;
   transition: background-color 0.2s ease-in;
   text-decoration: none;
}

.three-btn-header a:hover {
   background-color: #1db9de;
   cursor: pointer;
}